absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
assertpy==0.14
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.3.0
attrs==19.1.0
audioread==2.1.9
backcall==0.1.0
bayespy==0.5.25
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
boto3==1.17.99
botocore==1.20.99
Brotli==1.0.9
cached-property==1.5.2
cachetools==5.2.0
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.1.1
click==8.0.3
cycler==0.10.0
dash==2.0.0
dash-bootstrap-components==1.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datapackage==1.15.2
decorator==4.3.0
defusedxml==0.7.1
distlib==0.3.6
Django==4.1
django-widget-tweaks==1.4.12
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
fastjsonschema==2.16.2
filelock==3.9.0
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==22.11.23
frozenlist==1.3.3
gammy==0.4.9
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.50.0
gunicorn==20.1.0
h5py==3.7.0
huggingface-hub==0.11.1
idna==2.10
ijson==3.1.4
importlib-metadata==5.0.0
ipdb==0.11
ipykernel==5.5.5
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==8.0.2
isodate==0.6.0
itsdangerous==2.0.1
jedi==0.13.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
jsonlines==2.0.0
jsonpointer==2.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.7
jupyter_core==5.0.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.11.0
kiwisolver==1.3.1
libclang==14.0.6
librosa==0.9.1
linear-tsv==1.1.0
llvmlite==0.38.0
loguru==0.6.0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mdurl==0.1.2
mistune==2.0.4
more-itertools==7.0.0
mpmath==1.1.0
multidict==6.0.4
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numba==0.55.1
numpy==1.24.3
oauthlib==3.2.2
openai==0.26.1
openpyxl==3.0.7
opt-einsum==3.3.0
packaging==23.0
pandas==1.3.5
pandocfilters==1.5.0
parso==0.3.1
patsy==0.5.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.11
platformdirs==2.5.4
plotly==5.5.0
pluggy==0.12.0
pooch==1.6.0
progressbar2==4.2.0
prometheus-client==0.15.0
prompt-toolkit==2.0.7
protobuf==3.19.6
ptyprocess==0.6.0
py==1.10.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydeck==0.8.0
pygam==0.9.0
pygame==2.1.2
Pygments==2.14.0
Pympler==1.0.1
pynndescent==0.5.7
pyparsing==2.4.0
pyrsistent==0.17.3
pytest==4.6.3
python-dateutil==2.8.2
python-dotenv==0.20.0
python-sat==0.1.7.dev12
python-utils==3.5.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
regex==2022.10.31
requests==2.25.1
requests-oauthlib==1.3.1
resampy==0.2.2
rfc3986==1.5.0
rich==13.3.1
rsa==4.9
rubik-cube==0.0.1
s3transfer==0.4.2
scikit-learn==0.24.2
scipy==1.10.1
seaborn==0.11.1
semver==2.13.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
sniffio==1.3.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.19
sqlparse==0.4.2
statsmodels==0.13.1
streamlit==1.17.0
sympy==1.4
tableschema==1.20.2
tabulator==1.53.5
tenacity==8.0.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
terminado==0.17.0
tex==1.8
threadpoolctl==2.1.0
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.5.0
transformers @ git+https://github.com/huggingface/transformers@02488103007fe64577e3fa38732792bc58ca5b14
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
umap-learn==0.5.3
unicodecsv==0.14.1
urllib3==1.26.5
validators==0.20.0
virtualenv==20.17.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.0.2
whitenoise==6.1.0
widgetsnbextension==4.0.3
wrapt==1.14.1
xlrd==2.0.1
yarg==0.1.9
yarl==1.8.2
zipp==0.5.1
